<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
</head>
<body>
     <form method="POST" action="/post/">
         {% csrf_token %}
         <input type="submit" class="btn btn-default" value="update post">

     </form>
     {% for post in posts %}

          <h3>
              Posted by: {{ post.user.username }}
          </h3>
          <p>[{{ post.created_on }}]</p>

          <img style="display: inline-block; width: 400px; height: 300px;" src="{{ post.image_url }}"><br>
          <span style="display: inline-block;">
            {{ post.caption }}
          </span><br/>

         <div style="display: inline-block">
             {{ post.like_count }} like this
         </div>

         <div>

             <form method="POST" action="/like/">
                 {% csrf_token %}
                 <input type="hidden" name="post" value="{{ post.id }}">
                   {% if post.has_liked %}
                   <input type="submit" class="btn btn-default" value= "unlike">
                   {% else %}
                   <input type="submit" class="btn btn-default" value="like">
                   {% endif %}

             </form>
         </div>
     {% endfor %}

</body>
</html>