<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

            html, body {
             height: 100%;
           }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
            background-color: #F08080;
        }
    </style>
</head>
<body>
      Successfully signed up! Please continue to login!
    <form action="/login/" method="get">
        <input type="submit" class="btn btn-default" value="Login">
    </form>


</body>
</html>